@using WebMazeMvc.Services
@inject UserService userService

<html>
<head>
    <link rel="stylesheet" href="~/css/site.css?v=1">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/localize.js"></script>
    @RenderSection("Head", false)
</head>
<body>
    <div class="header">
        <img src="~/image/cat-logo.png" />
        Название сайта
    </div>

    <div class="center-block">
        <div class="menu">
            <a href="/Home/Index">Home</a>
            @if (User.Identity.IsAuthenticated)
            {

                
                <a href="/User/Logout">@WebMazeMvc.Localize.Index.LeftMenu_Exit</a>
                <a href="/Cat/Gallery">@WebMazeMvc.Localize.Index.LeftMenu_Gallery</a>

                if (userService.IsGirl())
                {
                    <a href="/Cat/Add">@WebMazeMvc.Localize.Index.LeftMenu_AddCat</a>
                }
                <a href="/User/FavoriteGenres">My Genres</a>
                <a href="/User/Logout">Exit</a>
                <a href="/Cat/Gallery">Gallery</a>
            }
            else
            {
                <a href="/User/Login">Login</a>
            }

            <a href="/Cat/Add">Add cat</a>
            <a href="/Maze/CreateMaze">Create Maze</a>
            <a href="/User/Registration">Registration</a>
            <a href="/Genre/GenreAction">Operation Genre</a>
            <a href="/News/All">@WebMazeMvc.Localize.Index.NewsPage_AllNews</a>
            <a href="/News/Add">@WebMazeMvc.Localize.Index.NewsPage_AddNews</a>
            @if (User.Identity.IsAuthenticated)
            {
                <a href="/User/MyNews">MyNews</a>
            }
            <a href="/News/Remove">RemoveNews</a>
            <a href="/Game/AllGames">Games</a>
            <a href="/Game/AddGame">Add Game</a>
            <a href="/Forum/All">Forums</a>
            <a href="/Comment/All">Comments</a>
            <a href="/Bank/AllBanks">Banks</a>
            <button class="card">@WebMazeMvc.Localize.BankCard.Bank_Card</button>
            <div class="card-option hidden">
                <a href="/BankCard/BankCardAdd">@WebMazeMvc.Localize.BankCard.Add_Сard</a><br>
                <a href="/BankCard/BankCardRemove">@WebMazeMvc.Localize.BankCard.Remove_Сard</a><br>            
                <a href="/BankCard/BankCardAll">@WebMazeMvc.Localize.BankCard.See_All</a><br>
            </div>
        </div>
        <div class="content">
            @RenderBody()
        </div>
    </div>
    <div class="footer">
        Подвал
        <select class="language">
            <option value="ru-RU">Рус</option>
            <option value="en-EN">Eng</option>
            <option value="zz-ZZ">ZZ</option>
        </select>
    </div>
</body>
</html>