@using WebMazeMvc.Localize

@model BankCardGetViewModel

<table border="1" align="center" cellspacing="0" cellpadding="10">
    <caption>@BankCard.Info_Bank_Card_One</caption>
    <tr>
        <th>@BankCard.Id_Card</th>
        <th>@BankCard.Number_Of_Card</th>
        <th>@BankCard.Validity_Month</th>
        <th>@BankCard.Validity_Year</th>
    </tr>
    <tr>
        <th>@Model.Id</th>
        <th>@Model.CardNumber</th>
        <th>@Model.ValidityMonth</th>
        <th>@Model.ValidityYear</th>
    </tr>
</table>