@using WebMazeMvc.Localize

@model List<BankCardGetViewModel>

<div>
    <table border="1" align="center" cellspacing="0" cellpadding="10">
        <caption>@BankCard.Info_Bank_Card</caption>
        <tr>
            <th>@BankCard.Id_Card</th>
            <th>@BankCard.Number_Of_Card</th>
            <th>@BankCard.Validity_Month</th>
            <th>@BankCard.Validity_Year</th>
            <th></th>
        </tr>
        @foreach (var card in Model)
        {
            <tr>
                <th>@card.Id</th>
                <th>@card.CardNumber</th>
                <th>@card.ValidityMonth</th>
                <th>@card.ValidityYear</th>
                <th>
                    <a href="/BankCard/BankCardDelete?id=@card.Id" style='text-decoration: none;'>
                        @BankCard.Delete_Сard
                    </a>
                </th>
            </tr>
        }
        <tr>
            <th><a href="/BankCard/DownloadBankCard">@BankCard.Save_file_doc</a></th>
        </tr>
    </table>
</div>